@font-face {
    font-family: Adoif;
    src: url('fontpsy/ADOIF.ttf'),url('fontpsy/ADOIF.eot'); 
}/*этот шрифт я скачала и подключила*/

* {
    margin: 0;
    padding: 0;
    }
.name1 {
 background-color: rgba(45, 112, 83, 1);
 background-clip: border-box;
 width: 752px;
 height: 237px;
}

.part1 {
   height: 144px;
   padding-left: 36px ;
   padding-top: 46px;
   padding-bottom: 47px;}
   
.part2{   
    text-align: left;
    width: 134px;
    height: 131px;
    color: white; 
    font-size: 30px;
    font-style: normal;
    font-family: Adoif, 'Times New Roman', Times, serif; 
    text-transform: capitalize;
    position: absolute; top: 53px; left: 237px;}

.part3{ 
    width: 87px;
    height: 15px;
    position: absolute; top: 82px; left:620px;} 
    
.part4{ 
    width: 87px;
    height: 15px;
    position: absolute; top: 110px; left:620px;}

.part5{ 
    width: 87px;
    height: 15px;
    position: absolute; top: 138px; left:620px;}

.part6{
    background-image: url('каб.png');
    background-origin: border-box;
    width: 752px;
    height: 470px;
    position: absolute; 
    margin-top: 0px; }

.part7{
        background-color: rgba(203, 146, 35, 1);
        background-origin: border-box;
        width: 344px;
        height: 77px;
        position: absolute; top: 348px; left:203px; }

.classw1{
    width: 251px;
    height: 17px;
    font-style: normal;
    text-align: center;
    font-size: 21px;
    color: white; 
    font-family: Adoif, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    position: absolute;
    padding-left: 46px;
    padding-top: 30px;
}
.name2 {
    background-color: white;
    background-origin: border-box;
   }

 .part8{
    border-radius: 50%;
    height: 276px;
    width: 255px;
    overflow: hidden;
    position: absolute; top: 759px; left: 43px;}

.part9{        
    width: 210px;
    height: 27px;
    font-style: normal;
    font-size: 35px;
    color: black; 
    font-family: Adoif, 'Times New Roman', Times, serif;
    position: absolute; top: 835px; left: 366px;}

.part10{        
    width: 245px;
    height: 50px;
    font-style: normal;
    text-align: left;
    font-size: 24px;
    color: black; 
    font-family: Adoif, 'Times New Roman', Times, serif;
    position: absolute; top: 891px; left: 364px;
}
.part11{        
    width: 590px;
    height: 166px;
    font-style: normal;
    text-align: left;
    font-size: 24px;
    color: black; 
    font-family: Adoif, 'Times New Roman', Times, serif;
    position: absolute; top: 1081px; left: 44px;
}
#id1{
    width: 545px;
    height: 32px;
    font-style: normal;
    text-align: center;
    font-size: 36px;
    color: black; 
    font-family: Adoif, 'Times New Roman', Times, serif;
    position: absolute;
    padding-left: 44px;
    top: 1293px;}
    
#id2{
    width: 256px;
    height: 190px;
    font-style: normal;
    text-align: left;
    font-size: 24px;
    color: black; 
    font-family: Adoif, 'Times New Roman', Times, serif;
    position: absolute;
    padding-left: 44px;
    top: 1368px;}

.part12{
    background-color: rgba(203, 146, 35, 1);
    background-origin: border-box;
    width: 344px;
    height: 77px;
    position: absolute; top: 1600px; left:216px; }
    
.name3 {
    background-color:rgba(136, 136, 136, 1);
    background-clip: border-box;
    width: 752px;
    height: 156px;
    position: absolute; top: 1724px;
       }
.part13 {
        width: 99px;
        position: absolute;
        padding-left: 43px ;
        padding-top: 29px;}

.part14{
    width: 136px;
    height: 15px;
    font-style: normal;
    font-size: 18px;
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    padding-left: 571px;
   padding-top: 58px;}

.part15{    
    width: 199px;
    height: 17px;
    font-style: normal;
    font-size: 18px;
    color: white; 
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    padding-left: 325px;
   padding-top: 104px;}

.part16{    
    width: 144px;
    height: 17px;
    font-style: normal;
    font-size: 18px;
    color: white; 
    font-family: Adoif,'Times New Roman', Times, serif;
    position: absolute;
    padding-left: 563px;
   padding-top: 100px;}
        