body{
width: 1400px;
height: 3143px;
margin: 0;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{ 
    margin-block-end: 0;
margin-block-start: 0;}

.rect{
    width: 1402 px;
    height: 45px;
    margin-top: 2px;
    margin-left: -1px;
    opacity: 1;
    text-transform: capitalize;
    word-spacing: 8px;
    background-color: RGBA(76, 177, 202, 1);
}
.lang{
    position: absolute;
    width: 236px;
    height: 13px;
    margin-left: 188px;
    margin-top: 16px;
    font-size: 13px;
    background-attachment: fixed;
    color: #BEF2FF;}
span{
    color: #FFFFFF;}

.a::after
    {    
    content:"";
    position: absolute;
    width: 4px;
    height: 4px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    margin-left: 6px;
    margin-top: 4px;
    transform: rotate(135deg);
}
.ul1{
    position: absolute;
    width: 357px;
    height: 13px;
    margin-left: 855px;
    padding-left: 0;
    margin-top: 16px;
    font-size: 13px;
    background-attachment: fixed;
    color: white;
    list-style: none;}

    .ul1 li {
        display: inline;
        border-left: 1px solid #ffffff; 
        padding-left: 10px;
                 }
           .ul1 li:first-child{ 
            border: unset;}
            .ul1 li:nth-child(4){
                word-spacing: 0px; 
            }
            .ul1 li:nth-child(5){
                word-spacing: 0px; 
            }
#leo{
position: absolute;
width: 166px;
height: 26px;
margin-left: 190px;
margin-top: 37px;
font-size: 32px;
font-weight: bold;
color: #656565;
text-transform: uppercase;
}
.ul2{
    position: absolute;
    width: 346px;
    height: 10px;
    margin-left: 415px;
    margin-top: 45px;
    font-size: 14px;
    background-attachment: fixed;
    color:  #656565;
    list-style: none;
    text-transform: uppercase;
    padding-inline-start: unset;
       }

    .ul2 li {
        display: inline;
        padding-right: 10px;
                     }
 #frame{
position: absolute;
width: 177px;
height: 32px;
margin-left: 873px;
margin-top: 33px;
border-color: rgba(198, 198, 198, 1);
border-width: 1px;
border-style: solid;
background: rgba(255, 255, 255, 1)
 }
 #Search{
font-size: 13px;
color: #B7B7B7;
position: absolute;
width: 48px;
height: 10px;
margin-left: 885px;
margin-top: 44px;
font-family: "undefined";
font-style: normal;
text-align: justify;
 }
 #lupa{
position: absolute;
margin-left: 1025px;
margin-top: 42px;
width: 15px;
height: 15px;
 }

 #circle{
position: absolute;
width: 38px;
height: 38px;
border-radius: 50%;
margin-left: 1061px;
margin-top: 30px;
background:  rgba(125, 177, 34, 1)
 }
 #circle2{
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 1100px;
    margin-top: 30px;
    background:  rgba(125, 177, 34, 1) 
 }
 .cennik{
    position: relative;
    top: 25%;
    left: 25%;
}
#cart{
position: absolute;
width: 59px;
height: 12px;
margin-left: 1150px;
margin-top:45px; ;
font-size: 14px;
font-style: normal;
text-align: justify;
color: #656565;
}
#glass{
    background-image: url(./glasses.png);
    position: absolute;
    width: 1400px;
    height: 829px;
    margin-top: 91px;
}
#left{
position: absolute;
width: 70px;
height: 70px;
margin-left: 112px;
margin-top: 213px;
rotate: 180deg;
}
#left:last-child{
    content: "";
    position: relative;
    margin-left: 1203px;
    rotate:unset;
}
.alum{
    position: absolute;
    display: inline;
    width: 285px;
    height: 47px;
    margin-left: 229px;
    margin-top: 201px;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    background-color:  #716961;
    text-transform: uppercase;
    line-height: 45px;
}
.alum1{
    position: absolute;
    display: inline;
    width: 329px;
    height: 47px;
    margin-left: 229px;
    margin-top: 251px;
    font-size: 30px;
    text-align:center;
    color: #FFFFFF;
    background-color:  #716961;
    text-transform: uppercase;
    line-height: 50px;
   }
   p .alum1 {
    margin-block-start: 3px;
   }
 
   .block{
    background-color: #FFFFFF;
    width: inherit;
    height: auto;
    margin-top:577px;
    display:inline-block;
    position: absolute;
   }
.Featured {
position: relative;
width: 242px;
height: 17px;
padding-top: 45px;
margin-left: 188px;
font-size: 24px;
font-style: normal;
text-align: justify;
text-transform: uppercase;
color: #635F57;
}
.Featured:nth-of-type(2){
    margin-top: 1030px;
}
.Featured:nth-of-type(3){
    margin-top: 330px;
}
.block3 .Featured{
    padding-top: 32px;
    margin-left: 38px;
    text-align: center;
    width: 156px;
    height: 46px;
    }
.block4 .Featured{
    padding-top: 32px;
    margin-left: 38px;
    text-align: center;
    width: 156px;
    height: 46px;
}
.block2{
    width: 798px;
    position: relative; 
    margin-left: 188px;
}
.square{
    position: relative;
    width: 236px;
    height: 321px;
    margin-top: 20px;
    margin-right: 20px;
    border-color:#EFF1F0;
    border-style: solid;
    border-radius: 1%;
    background: rgba(255, 255, 255, 1);
    float:left;
          }

.square:after{
    content: "";
    position: absolute;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 216px;
    height: 228px;
    background-color: #EFF1F0;
    z-index: 2;
      }
      .square:before{
        content: "";
        position: absolute;
        display: block;
        margin-left: 174px;
        margin-top: 250px;
        width: 47px;
        height: 47px;
        background-color: #7db122;
        border-radius: 50%;
        z-index: 2;
          }
        
.gl1{
    position: absolute;
    z-index: 3;
    display: block;
    margin-top: 49px;
    margin-left: 28px;
  }

.text{
position: absolute;
margin-left: 10px;
margin-top: 250px;
height: 34px;
font-size: 14px;
font-style: normal;
text-align: left;
color: #464148;
}

.price{
position: absolute;
font-size: 14px;
margin-left: 10px;
margin-top: 270px;
font-style: normal;
text-align: left;
color: #8AB83F;}

.price::before{
    content: "$";
}

p[class^="price"]::before{
    content: "$460";
    display: inline;
    position: relative;
    padding: 5px;
    font-size: 12px;
    color: #464148;
    text-decoration: line-through;
}
.new1{
    position: absolute;
    margin-left: 144px;
    margin-top: -4px;
    z-index: 5;
  }
  .new2{
    position: absolute;
    z-index: 5;
    margin-top:12px;
    margin-left:186px;
  }
  .new3{
    position: absolute;
    margin-top: -4px;
    margin-left: 143px;
    z-index: 5;
  }
.sale1{
    position: absolute;
    margin-top: -5px;
    margin-left: -4px;
    z-index: 5;
  }
  .sale2{
    position: absolute;
    z-index: 5;
    margin-top:12px;
    margin-left:12px;
  }
  .sale3{
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
    z-index: 5;
  }
 .bask{
    position: absolute;
    z-index: 5;
    margin-left: 184px;
    margin-top: 260px;
 }
 
 .block3{
    background-color: #FFFFFF;
    width: 236px;
    height: 482px;
    margin-top:622px;
    margin-left: 975px;
    display:inline-block;
    position: absolute;
    border-color:#EFF1F0;
    border-top: #78C4D7 5px;
    border-style: solid;
    }

    .block4{
        background-color: #FFFFFF;
        width: 236px;
        height: 277px;
        margin-top:1142px;
        margin-left: 975px;
        display:inline-block;
        position: absolute;
        border-color:#EFF1F0;
        border-top: #78C4D7 5px;
        border-style: solid;}

        #feat{
            position: absolute;
            padding: 10px;
            margin-top: 100px;
                     }
#blueblock{
    position: absolute;
    margin-top: 278px;
    margin-left: 51px;
    width: 135px;
    height: 47px;
    background-color: #4CB1CA;
    color: #FFFFFF;
    text-align: center;
    text-transform:capitalize;
    font-size: 14px;
    line-height: 15px;
}
#niz{
    margin-top: 358px;
    margin-left: -2px;
    width: 236px;
    height: 44px;
    border-color:#EFF1F0;
    display:inline-block;
    position: absolute;
    border-style: solid;
}
#niz1 {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: 17px;
    margin-left: 90px;
    border-radius: 50%;
    background-color: #7DB122;
    margin-right: 14px;
    display: inline-block;
}
#niz2{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: 17px;
    margin-left: 110px;
    border-radius: 50%;
    background-color: #7DB122;
    margin-right: 14px;
    display: inline-block;
}
#niz3{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: 17px;
    margin-left: 130px;
    border-radius: 50%;
    background-color: #7DB122;
    margin-right: 14px;
    display: inline-block;
}
#niz1:hover{
    background-color:#4CB1CA;
}
#niz2:hover{
    background-color:#4CB1CA;
}
#niz3:hover{
    background-color:#4CB1CA;
}
#textLo{
position: absolute;
margin-top: 23px;
margin-left: 26px;
width: 187px;
height: 34px;
font-size: 14px;
font-style: normal;
text-align: center;
color: #696969;
}
#textLo::after{
    content: "";
    position: absolute;
    width: 188px;
    height: 32px;
    margin-top: 44px;
    margin-left: -175px;
    border-style: solid;
    border-color: #EFF1F0;
    display: inline-block;
}
#greenblock{
    position: absolute;
    margin-top: 134px;
    margin-left: 61px;
    width: 115px;
    height: 47px;
    background-color: #7EB123;
    color: #FFFFFF;
    text-align: center;
    text-transform:capitalize;
    font-size: 14px;
    line-height: 15px;
}
.block5{
position: relative;
margin-top: 2594px;
width: 1407px;
height: 506px;
background-color: #39A0B9;
}
.block6{
    position: relative;
    margin-top: 2594px;
    width: 1407px;
    height: 106px;
    background-color: #4CB1CA;
    }

    .block7{
        position: relative;
        display: block;
        margin-top: -67px;
        width: 1407px;
        height: 67px;
        background-color:#0B4B5A;
        }
        .ul3{
            position:absolute;
            color:#ffffff;
            list-style: none;
            height: 17px;
            margin-top: 45px;
            margin-left: 274px;
            padding-left: 0px;
            font-size: 21px;
            text-align: left;
            text-transform: uppercase;
            background-attachment: fixed;
        }
                   .ul3 li {
                display: inline;
                padding-right: 144px;
                                }
                                .ul3 li::before{
                                content:"";
                                position: absolute;
                                display: inline;
                                width: 68px;
                                height: 68px;
                                background-color: #ffffff;
                                border-radius: 50%;
                                margin-left: -87px;
                                margin-top: -26px;
                                }
                                .ul3 li::after{
                                    content:url('./track.png');
                                    position: absolute;
                                    display: block;
                                    width: 68px;
                                    height: 68px;
                                    margin-left: -70px;
                                    margin-top: -26px;
                                    }
                                    .ul3 li:last-child:after{
                                        content:url('./tel.png');
                                        position: absolute;
                                        display: block;
                                        width: 68px;
                                        height: 68px;
                                        margin-left: 448px;
                                        margin-top: -28px;
                                        }
.ul4{
position:absolute;
display: block;
color:#ffffff;
list-style: none;
height: 17px;
margin-top: 45px;
margin-left: 187px;
padding-left: 0px;
font-size: 21px;
text-align: left;
text-transform: uppercase;
background-attachment: fixed;
     }
     .ul4 li {
        display: inline;
        padding-right: 181px;}
                        
.block7 .ul1{
    color: #8ADCF0;
    margin-left: 760px;
    margin-top: 26px;
    width: auto;
    display: inline;
    border-left: #8ADCF0; 
    padding-left: 10px;
   }
   .block7 .ul1 li{
    border-color: #8ADCF0; 
    padding-right: 10px;
   }
    .last{
        position: absolute;
        color: #8ADCF0;
        font-size: 13px;
        margin-left: 196px;
        margin-top: 26px;
    }
    .block5 p{
        position: relative;
        color: #FFFFFF;
        font-size:13px ;
        margin-left: 187px;
        padding-top: 3px;
          }
    .block5 p:first-of-type{
        margin-top: 90px;
    }
  
    .block5 p:nth-of-type(3)::before{
        content: "";
        border-top:1px solid #8ADCF0FF;
        width: 230px;
        margin-bottom: 5px;
        position: relative;
    display: block;}
       
    .block5 p:nth-of-type(3)::after{
        content: "";
        border-top:1px solid #8ADCF0FF;
        width: 230px;
        margin-top: 5px;
        position: relative;
        display: block;}

        .block5 p:nth-of-type(n+5)::before{
            content:url('./tw.png');
            width: 46px;
            height: 46px;
            margin-left: -57px;
            position: absolute;
            display: inline;}

            .block5 p:nth-of-type(n+5){
                width: 223px;
                height: 70px;
                margin-left: 532px;
                margin-top: -190px;
                                                    
            }
            .block5 p:nth-of-type(6){
                margin-top: 20px;
                                                  
            }
            .block5 span{color:#8ADCF0FF ;}
    
        
   .li1 {
    font-size: 13px;
    color: #ffffff;
    height: 133px;
    margin-left: 760px;
    margin-top: -165px;
    padding-right: 1px;
    list-style: none;
    position: relative;
    line-height: 20px;
      }
    
  
   .li1 :before {
    content: " \276F"; 
    padding-right: 10px;
   }
  
   .li2 li{
    font-size: 13px;
    text-transform: none;
    height: 106px;
    margin-left: 888px;
    padding-right: 1px;
    list-style: none;
    position: relative;
    top: 18px;
       }

       .li2 li:last-child:after{
        content: "";
        border-bottom:1px solid #8ADCF0FF;
        width: 199px;
        top: 28px;
        position: absolute;
        margin-left: -92px;
    }
    .whitt{
        position: absolute;
        margin-top: -400px;
        width: 280px;
    }
.whitt img{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: auto;
}
.whittp{
    position: relative;
    display: inline-block;
    width: 39px;
    height: 39px;
    background-color: white;
    border-radius: 50%;
    left: 1119px;
    top: 227px;
}

   