@font-face {
    font-family: MinionPro;
    src: url('MinionProBold/Minion\ Pro\ Regular.otf');
}
@font-face {
    font-family: MinionPro;
    font-weight: bold;
    src: url('MinionProBold/Minion\ Pro\ Bold.ttf');
}
@font-face {
    font-family: Opensans;
    src: url('MinionProBold/OpenSans-Regular.ttf');
}
div {position: absolute;
    margin: 0;
    font-family: MinionPro;
}
.logo { height: 164px;
        width: 307px;
        top: 15px; 
        bottom: 646px;
        border-radius: 2%
      }
.fon {background-image: url("./Прямоугольник\ 3.png");
    width: 1302px;
    height: 831px;
    top:-4px;
    left: 460px;
    position: relative;
    color:#FFE394;
    font-size: 14px;
 }
.fon2 {background-image: url("./Слой\ 15.png");
    width: 1300px;
    height: 753px;
    top: 35px;
    left: 0px;
    position: absolute;
    z-index: 1;
    opacity: .2;
}
.red-line {
    background: rgba(140, 10, 13, 1); 
    width: 1302px;
    height: 72px;
    z-index: 2;}
#logo{
height: 41px;
width: 177px;
left: 67px; top: 15px;
opacity: 1;
z-index: 4;
filter: contrast(2.4);
}
.h11{
    height: 11px;
    width: auto;
    top: 38px;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: bold;
}
#hh1{
    left: 369px;}
#hh2{
    left: 469px;}
#hh3{
    left: 572px;}
#hh4{
    left: 687px;
    top: -1px;
    height: 14px;}
#hh5{
    left: 893px;
    height: 10px;}
#hh6{
    left: 987px;}
#hh7{
    left: 1160px;
height: 18px;
top: -3px;}
#hh8{
    left: 37px;
    height: 13px;
    width: 37px;
    top: -1px;
    font-size: 18px;
    }
.plant{
    width: 1170px;
    height: 335px;
    left: 66px;
    top: 100px;
    outline-offset: -4px;
    outline: 4px solid black;
    z-index: 3;
}
.title{
    left: 360px;
    top: 30px;
    width: 455px;
    height: 54px;
    background-image: url(./ROSHEN\ в\ мире.png);
   }
     
.button1{
 background-image: url(./Прямоугольник\ 6.png);
 left: 492px;
 top: 107px;
 width: 191px;
 height: 44px;
 z-index: 6;
}
.button2{
    background-image: url(./Прямоугольник\ 7.png);
    left: 492px;
    top: 112px;
    width: 191px;
    height: 44px;
    z-index: 5;
   }
.hh9{
font-size: 24px;
white-space: nowrap;
color:rgba(53, 4, 12, 1);
left: 17px; 
border-top: 12px;
border-bottom: 9px;
height: 23px;
font-weight: bold;}

.button3{
    background-image: url(./right-arrow-cir.png);
    left: 28px;
    top: 155px;
    width: 55px;
    height: 55px;
    z-index: 5;}
.button4{
        background-image: url(./right-arrow-cir\ \(1\).png);
        left: 1087px;
        top: 152px;
        width: 55px;
        height: 55px;
        z-index: 5;}
       
.button5{
        background-image: url(./Эллипс\ 3.png);
        left: 553px;
        top: 310px;
        width: 18px;
        height: 17px;
        z-index: 5;}
.button6{
        background-image: url(./Эллипс\ 3\ копия.png);
        left: 576px; 
        top: 310px;
        width: 19px;
        height: 17px;
        z-index: 5;}
.button7{
        background-image: url(./Эллипс\ 3.png);
        left: 600px; 
        top: 310px;
        width: 18px;
        height: 17px;
        z-index: 5;}

p{
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    color: #35040C;
    overflow: hidden;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
#p1{top: 461px;
    left: 65px;
    width: 269px;
    height: 64px;
    font-weight: bold;
}
#p2{top: 460px;
    left: 363px;
    width: 277px;
    height: 65px;
    font-weight: bold;
}
#p3{top: 461px;
    left: 662px;
    width: 233px;
    height: 89px;
    font-weight: bold;
    ;
}
#p4{top: 461px;
    left: 957px;
    width: 250px;
    height: 63px;
    font-weight: bold;
}
#p5{top: 569px;
    left: 65px;
    width: 259px;
    height: 135px;
    font-weight: unset;
    font-size: 16px;
}
#p6{top: 569px;
    left: 362px;
    width: 254px;
    height: 158px;
    font-weight: unset;
    font-size: 16px;
}
#p7{top: 568px;
    left: 660px;
    width: 252px;
    height: 159px;
    font-weight: unset;
    font-size: 16px;
}
#p8{top: 569px;
    left: 957px;
    width: 276px;
    height: 133px;
    font-weight: unset;
   font-size: 16px;
}
#rd2{
position: relative;
top: 756px;
}
.futer{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: #F2BE65;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
#p9{
    top: 37px;
    left: 67px;
    width: 192px;
    height: 14px;
   }
#p10{
    top: 13px;
    left: 362px;
    width: 148px;
    height: 38px;
   }
#p11{
    top: 13px;
    left: 659px;
    width: 144px;
    height: 37px;
   }
#p12{
    top: 13px;
    left: 958px;
    width: 138px;
    height: 36px;
   }
.button8{
    background-image: url(./Слой\ 8.png);
    left: 1165px; 
    top: 22px;
    width: 28px;
    height: 28px;
    z-index: 5;}
.button9{
        background-image: url(./Слой\ 9.png);
        left: 1206px; 
        top: 22px;
        width: 28px;
        height: 28px;
        z-index: 5;}