  :root {
  width: 755px;
  height: 2633px;
  margin-top: 34px;
  background-color: #F2F2F2;
  font-size: 14px;
  color: #596B73;
  font-family: Arial, Helvetica, sans-serif;
}
div{
  position:relative;
  margin-top: 1px;
  margin-left: auto;
  width: 755px; height: 114px;
}
.h{
  padding-left: 16px;
  font-size: 24px;
  color: #531506;
  font-weight: bold;}

  ul{
    padding-bottom: 20px;
    list-style: none;
    margin-left: -24px;
        }

span{
  color:#999910;
  position:initial;
  font-size: 20px;
}

ul li span:first-child {
  float: left;
  padding: 0 3px 0 0;
  margin: 0;
   color: #BB974C;
}
ul li span + span {
  float: right;
  padding: 0 0 0 3px;
  margin: 0;
}

ul li:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted;
}

span:last-child::before{
  content:"\0024 ";
  padding-right: 3px;
}
ul li span:first-child:hover {
  color:#999910 ;
  }
   p::after {
      content:"";
      display: block;
      margin-top: 20px;
      position: relative;
      height: 5px;
      background-color:#D5E2E9 ;
      background-size: 10px 6px;
      background-position: 5px 0px, -5px 0, 0 0, 0 0;
      background-image: linear-gradient(35deg, #F2F2F2 3px, transparent 0), linear-gradient(-35deg, #F2F2F2 3px, transparent 0), linear-gradient(145deg, #F2F2F2 3px, transparent 0), linear-gradient(-145deg, #F2F2F2 3px, transparent 0);;

  }
  .icon1{
    background-image: url("./1_Сверстать-меню_\ icon\ 1.jpg");
    width: 148px;
    height: 95px;
    float: left;
  }
  .icon1:hover{
    opacity: 30%;
    transition-duration: 1s;
}

  .icon2{
    background-image: url("./1_Сверстать-меню_\ icon\ 2.jpg");
    width: 148px;
    height: 95px;
    float: left;
  }
  .icon2:hover{
    opacity: 30%;
    transition-duration: 1s;
}

  .icon3{
    background-image: url("./1_Сверстать-меню_\ icon\ 3.jpg");
    width: 148px;
    height: 95px;
    float: left;
  }
  .icon3:hover{
    opacity: 30%;
    transition-duration: 1s;
}

  .icon4{
    background-image: url("./1_Сверстать-меню_\ icon\ 4.jpg");
    width: 148px;
    height: 95px;
    float: left;
  }
  .icon4:hover{
    opacity: 30%;
    transition-duration: 1s;
}
.text{
 margin-top: 17px;
 margin-left: 0px;
}
